<table border=1>
	<thead>
		<th>Id</th>
		<th>Name</th>
		<th>City</th>
		<th>Salary</th>
	</thead>
	
	<tbody id="records">
		<tr>
			<td>1</td>
			<td>rajkumar</td>
			<td>chandigarh</td>
			<td>25000</td>
		</tr>
	</tbody>
</table>

<script>

fetch("http://localhost:1234/list-employees")
.then(res => res.json())
.then(result => {
	
	result = "<tr>"
	/*
	for (i = 0; i < result.length; i++) {
		result += `<td>${result[i]['id']}</td>`;
		result += `<td>${result[i]['name']}</td>`;
		result += `<td>${result[i]['address']}</td>`;
		result += `<td>${result[i]['salary']}</td>`;
	}
	
	result += "</tr>"
	*/
	console.log(result)
	
	document.getElementById("records").innerHTML = result


})


</script>