<input type="text" id="num" value="7" name="num1name"/>
<input type="text" id="resulttext" placeholder="result will come"/>

<button onclick="getSquare()">Get Square</button>

<h1 id="result">

</h1>

<script>

function getSquare(){

	numvar = document.getElementById("num").value

	console.log(numvar)

	document.getElementById("resulttext").value = numvar * numvar

	document.getElementById("result").innerHTML = numvar * numvar


}




x = 5
console.log(x)
console.log(`Square of ${x} is ${x * x}`)

//CW WAP to print addition of 2 numbers
//o/p: 5 + 6 = 11
</script>