<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


<table class="table table-striped table-hover">

	<thead>
		<th>Id</th>
		<th>Name</th>
		<th>Age</th>
		<th>City</th>
		<th>Action</th>
	</thead>

	<tbody id="result"></tbody>
</table>

<script>

fetch("http://localhost:1234/get-users")
.then(res => res.json())
.then(result => {
	console.log(result)
	console.table(result)

	output = ""

	for(i = 0; i < result.length; i++) {
		output = output + "<tr>"
		output = output + `<td>${result[i]['id']}</td>`
		output = output + `<td>${result[i]['name']}</td>`
		output = output + `<td>${result[i]['age']}</td>`
		output = output + `<td>${result[i]['city']}</td>`
		output = output + `<td><a class="btn btn-danger">Delete</a> `
		output = output + `<a class="btn btn-primary">Edit</a></td>`
		output = output + `</tr>`
	}
	
	console.log(output)
	
	document.getElementById("result").innerHTML = output

})





















/*
nums = [2, 4, 7, 5, 6]
//Find sum of all elements of array
total = 0

for(i = 0; i < nums.length; i++) {
	total = total + nums[i]
	console.log(nums[i])
}

console.log(`Total: ${total}`)
*/




</script>